body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff00cc, #800080, #808080, #000000);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input:focus {
  border-color: #007bff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button i {
  margin-right: 5px;
}

.notification {
  display: none;
  padding: 10px;
  background-color: #28a745;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border-radius: 5px;
}

#resultContainer {
  margin-top: 20px;
  word-break: break-all;
  overflow-wrap: break-word;
}

#trackingResult {
  margin-top: 20px;
}

.lottie-animation {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
