body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff00cc, #800080, #808080, #000000);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: auto;
  height: 50px;
  margin-right: 15px;
}

h1,
h2 {
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input:focus {
  border-color: #007bff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button i {
  margin-right: 5px;
}

.notification {
  display: none;
  padding: 10px;
  background-color: #28a745;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border-radius: 5px;
}

#resultContainer {
  margin-top: 20px;
  word-break: break-all;
  overflow-wrap: break-word;
}

#trackingResult {
  margin-top: 20px;
}

.lottie-animation {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
/* Hamburger Menu Icon */
.hamburger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.hamburger-menu i {
  font-size: 24px;
  color: #333;
  margin-left: -1rem;
}

/* Drawer Styles */
.drawer {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 999;
  padding: 20px;
}

.drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer-item {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  margin-top: 1rem;
}

.drawer-item:hover {
  background-color: #f1f1f1;
}

/* Drawer Visible State */
.drawer.open {
  left: 0; /* Slide into view */
}
